version: "3.9"

services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    ports:
    - "5433:5433"
    command: -p 5433
  web:
    build: .
    command: gunicorn calorienotesapi.wsgi --bind 0.0.0.0:8005
    volumes:
      - .:/app
    ports:
      - "8005:8005"
    depends_on:
      - db

